<section id="hero" style="background-image: url('/assets/hero_bg.jpg');">
    <div class="content-area">
        <div class="inner-padding">
            {{#  Content goes here #}}
        </div>
    </div>
</section>

<section id="about">
    <div class="content-area">
        <div class="inner-padding">
            <header class="text-center mb-12">
                <h2 class="text-primary font-bold">ABOUT</h2>
            </header>
            {{ partial:panels }}
        </div>
    </div>
</section>

<section id="contact">
    <div class="content-area">
        <div class="inner-padding max-w-3xl mx-auto">
            <header class="text-center mb-12">
                <h2 class="text-primary font-bold">CONTACT</h2>
            </header>
            {{ form:contact }}
            {{ partial:form }}
            {{ /form:contact }}
        </div>
    </div>
</section>